﻿<script type="text/javascript" src="~/js/charts/echarts-all-3.js"></script>
<script type="text/javascript" src="~/js/charts/ecStat.min.js"></script>
<script type="text/javascript" src="~/js/charts/dataTool.min.js"></script>
<script type="text/javascript" src="~/js/charts/china.js"></script>
<script type="text/javascript" src="~/js/charts/world.js"></script>
<script type="text/javascript" src="~/js/charts/bmap.min.js"></script>
<script type="text/javascript" src="~/js/charts/chart.js"></script>
