﻿@model EdisonVote.WebUI.Models.VoteViewModels.CreateVoteViewModel
@{
    ViewData["Title"] = "Создать голосование";
}

<div class="row" style="padding-top:50px">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.CanRecreate)
                {
                    <div class="alert alert-success">Вы можете пересоздать голосование. Текущие результаты будут удалены.</div>
                }
                <div class="form-group">
                    <label asp-for="Phase1Duration"></label>
                    <input asp-for="Phase1Duration" class="form-control"/>
                    <span asp-validation-for="Phase1Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phase2Duration"></label>
                    <input asp-for="Phase2Duration" class="form-control"/>
                    <span asp-validation-for="Phase2Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Создать</button>
                </div>
            </form>
        </section>
    </div>
</div>
