﻿@model EdisonVote.WebUI.Models.VoteViewModels.VoteViewModel

@{
    ViewData["Title"] = "Проголосовать";
}

<div class="row" style="padding-top:50px">
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <div class="alert alert-info" id="info"></div>
        @if (TempData.ContainsKey("Created"))
        {
            <div class="alert alert-success">Голосование создано №@TempData["Created"]</div>
        }

        @if (ViewBag.Success == true)
        {
            <div class="alert alert-success">Спасибо за участие в голосовании!</div>
        }
        else
        {
            <section>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SelectedDate"></label>
                        <select asp-for="SelectedDate" asp-items="@(new SelectList(Model.AvailableDates))" class="form-control"></select>
                        <span asp-validation-for="SelectedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventName"></label>
                        <input asp-for="EventName" class="form-control"/>
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Проголосовать</button>
                    </div>
                </form>
            </section>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery.autocomplete.min.js"></script>
}