﻿
@{
    ViewData["Title"] = "Результаты голосования";
 }

<div class="row" style="padding-top: 50px">
    <div class="alert alert-info" id="info"></div>
    
    <h2>Диаграмма</h2>
    <div id="chart" style="height: 400px"></div>

    <h2>Победившее мероприятие</h2>
    <div id="winners"></div>
</div>

@section Scripts
{
    @await Html.PartialAsync("Chart")
}
