﻿@model EdisonVote.WebUI.Models.VoteViewModels.StatisticsViewModel

@{
    int i = 1;
}
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Время</th>
        <th>Пользователи</th>
        <th></th>
    </tr>
    </thead>

    @if (Model != null && Model.Winners != null)
    {
        <tbody>
        @foreach (var result in Model.Winners)
        {
            <tr>
                <td>@i</td>
                <td>@result.Name.Name</td>
                <td>@result.Date.ToLocalTime().DateTime</td>
                <td>
                    @foreach (var user in result.Users)
                    {
                        @user.Name<br/>
                    }
                </td>
                <td>
                    <td>
                        @if (Model.UserCanVote)
                        {
                            <button type="button" class="btn btn-success" onClick="accept(@result.Name.Id, '@result.Date.ToLocalTime().ToString("HH:mm")')">Согласиться</button>
                        }
                    </td>
                </td>
            </tr>
            i++;
        }
        </tbody>
        if (Model.UserCanVote)
        {
            <tfoot>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-danger" onclick="refuse()">Отказаться</button>
                </td>
            </tr>
            </tfoot>
        }
    }
    else
    {
        <tbody>
        <tr>
            <td colspan="4">
                <div class="alert alert-warning">Победители не выбраны</div>
            </td>
        </tr>
        </tbody>
    }

</table>